<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MyFolio - Portfolio HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Portfolio HTML Template" name="keywords">
        <meta content="Portfolio HTML Template" name="description">

        <!-- Favicon -->
        <link href="/static/img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Solway:400,700&display=swap" rel="stylesheet"> 

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Header Start -->
        <div class="top-header" id="top-header">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/static/img/akkuupic.jpg" alt="Akshit Kumar Sharma" />
                    </div>

                    <div class="col-md-12">
                        <h1>I'm Akshit Kumar Sharma</h1>
                    </div>

                    <div class="col-md-12">
                        <p>Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic Designer</p>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Nav Start -->
        <div class="header">
            <div class="container">

                <div class="logo pull-left">
                    <h1><a href="index.html">Myprofile</a></h1>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="#top-header">Home</a></li>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#experience">Experience</a></li>
                        
                        <li><a href="#contact">Contact me</a></li>
                    </ul>
                </nav>

                <nav class="nav social-nav pull-right d-none d-lg-inline">
                    <a href="https://www.instagram.com/_mr__akshit_/"><i class="fa fa-instagram"></i></a> <a href="https://www.youtube.com/@AkshitSanatanispace"><i class="fa fa-youtube"></i></a> <a href="https://www.linkedin.com/in/akshit-sharma-73aab630b/"><i class="fa fa-linkedin"></i></a>
                </nav>
            </div>
        </div>
        <!-- Nav End -->

        <!-- About Me Start-->
        <div class="about" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4">
                        <img class="img-fluid" src="/static/img/akkuupic.jpg" />
                    </div>

                    <div class="col-md-6 col-lg-8">
                        <header class="section-header">
                            <h2>About Me</h2>
                        </header>
                        <h3><strong>Name:</strong> Akshit Kumar Sharma</h3>
                        <h4><strong>Profession:</strong> Web Designer & Developer</h4>
                        <p>
                           I am a web development student who loves creating responsive and interactive websites. I am continuously learning new technologies and building projects to improve my skills and gain real-world experience.
                        </p>
                       
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="skills">
                            <h3>Skills</h3>
                            <div class="skill-name">
                                <p>HTML</p><p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            
                            <div class="skill-name">
                                <p>CSS</p><p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            
                            <div class="skill-name">
                                <p>python</p><p>80%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skills">
                            <h3>Additional Skills</h3>
                            <div class="skill-name">
                                <p>c</p><p>90%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            
                            <div class="skill-name">
                                <p>java</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            
                            <div class="skill-name">
                                <p>MySQL</p><p>95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Me End-->
        
        <!-- Job Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header">
                    <h3>Internship</h3>
                    <p>
                        I am seeking an internship to gain real-world industry experience and improve my technical skills. This opportunity will help me apply my knowledge in practical projects and learn professional work culture. I am highly motivated, quick to learn, and ready to take responsibilities
                    </p>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="exp-column">
                            <p class="exp-date">April-2025 <span>to</span> June-2025</p>
                            <h4 class="exp-company">Eduskill</h4>
                            <h4 class="exp-designation">Android Developer Virtual Insternship</h4>
                            <p class="exp-detail">
                                I successfully completed an Android Developer virtual internship where I worked on designing and developing Android applications. During this internship, I gained practical experience in implementing features, debugging code, and understanding the Android development workflow. This experience strengthened my problem-solving skills and enhanced my knowledge of mobile app development.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="exp-column">
                            <p class="exp-date">July-2015 <span>to</span> September-2017</p>
                            <h4 class="exp-company">Eduskill</h4>
                            <h4 class="exp-designation">AI And ML Virtual Internship</h4>
                            <p class="exp-detail">
                                I successfully completed an AI and ML virtual internship where I worked on designing and developing machine learning models. During this internship, I gained practical experience in data preprocessing, model training, and evaluating performance metrics. This experience strengthened my analytical skills and enhanced my knowledge of artificial intelligence and machine learning.
                            </p>
                        </div>
                    </div>
                     
                    
                </div>
            </div>
        </div>
        <!-- Job Experience End -->

        <!-- Services Start -->
        <div class="services" id="services">
            <div class="container">
                <header class="section-header">
                    <h3>My Services</h3>
                    <p>
                       
                    </p>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"><i class="fa fa-television"></i></div>
                            <h4>Web Design</h4>
                            <p>I create clean, modern, and responsive website designs that look great on all devices. My focus is on user-friendly layouts, attractive visuals, and smooth user experience.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-laptop"></i> </div>
                            <h4>Web Development</h4>
                            <p>I develop fast and reliable websites using HTML, CSS, JavaScript, Bootstrap, and basic backend concepts. From simple static websites to dynamic web applications.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-android"></i> </div>
                            <h4>Apps Development</h4>
                            <p>I design and develop Android applications using Java and XML. My apps are lightweight, easy to use, and built to solve real-world problems efficiently.</p>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
        <!-- Services End -->

        

       

        <!-- Testimonials Start -->
        <div class="testimonials" id="testimonials">
            <div class="container">
                <i class="fa fa-4x fa-quote-left"></i>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='img/akkupic.jpg.jpg') }}" class="testimonial-img" alt="">
                        <h3>Akshit Kumar Sharma</h3>
                        
                        <p>Passionate about creating modern websites and useful mobile applications.. 
                        </p>
                    </div>

                    

                </div>
            </div>
        </div>
        <!-- Testimonials End -->

        <!-- Contact Start -->
        <div class="contact" id="contact">
            <div class="container">
                <div class="section-header">
                    <h3>Contact Me</h3>
                    <p>
                        Feel free to reach out to me for any inquiries or collaborations.
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-info">
                            <p><i class="fa fa-user"></i>Akshit Kumar Sharma</p>
                            <p><i class="fa fa-tag"></i>Web Designer & Developer</p>
                            <p><i class="fa fa-map-marker"></i>Vill Dhamora Teh-Milak,Dist-Rampur</p>
                            <p><i class="fa fa-envelope"></i><a href="akshitsha84@gmail.com">akshitsha84@gmail.com</a></p>
                            <p><i class="fa fa-phone"></i><a href="tel:+91 9520762501">+91 9520762501</a></p>
                            <div class="social">
                                <a href="https://github.com/akshit-31"><i class="fa fa-github"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100024505524186"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/akshit-sharma-73aab630b/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/_mr__akshit_/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/@AkshitSanatanispace"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="copyright">
                    <p>&copy; Copyright <a href="#">My Pro</a>. All Rights Reserved</p>

                    <!--/*** The author’s attribution link must remain intact in the template. ***/-->
                    <!--/*** If you wish to remove this credit link, please purchase the Pro Version . ***/-->
                    <p>Designed by <a href="">Akshit Sharma</a></p>
                </div>
            </div>
        </div>
        <!-- Footer end -->
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/typed/typed.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/stickyjs/sticky.js"></script>
        <script src="/static/lib/superfish/hoverIntent.js"></script>
        <script src="/static/lib/superfish/superfish.min.js"></script>
        <script src="/static/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/lib/counterup/counterup.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/static/lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
    </body>
</html>
